* {
  font-family: "Inter";
}

.testColor {
  color: #03163a49;
}
.ordered {
  background-image: url(./assets/images/vues.png);
  height: 1000px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
